.headerContainer {
  background: var(--primary);
  height: 6.5rem;
  color: var(--gray-500);

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);

  p {
    color: var(--gray-500);
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }

  .themeButton {
    margin-left: auto;
    background: var(--primary-shadow-500);
    border: 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    font-size: 0;

    transition: font-size 0.6s;

    span {
      margin-left: auto;
      text-transform: none;
    }

    &:hover {
      font-size: 1rem;
    }
  }
}
